@font-face {
    font-family:nb-pro ;
    src: url(./rejouice-assets/NB\ International\ Pro\ Light.ttf);
}
@font-face {
    font-family: re-joy;
    src: url(./rejouice-assets/Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
} 
 

 /* html,body {
    height: 100%;
    width: 100%
}

#main-page1{
    height: 100vh;
    width: 100%;
}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f38;
    border-radius:50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nb-pro;
    font-size: 20px;
    font-weight:500;
    transform: translate(-50%,-50%);
}

#page1 , video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content{
    height: 100%; 
   width: 100vw;
    background-color: #0c0b0b5a; 
   color: aliceblue;
   position: relative;
   font-family: nb-pro;
   z-index:10;
   display: flex;
   flex-direction:column ;
   align-items: center;
   justify-content: space-between;
}

nav{
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   gap: 72%;
   padding:70px 0px;
   font-size: 18px;
   font-weight: 10px;
}

nav h3{
    cursor: pointer;
}

h1{
 color: whitesmoke;
font-family: re-joy;
 font-weight: 300;
 font-size: 400px; 
}  */

#page2{
    height: 100vh;
    width: 100vw;
    
}
#page2 video{
   object-fit: cover;  
   width: 100vw;
   height: 100vh; 
   position:absolute;
   
}
#page2-txtcontent {
    height: 100vh;
    width: 100%; 
    background-color: #16141400;
    position: relative;
    z-index: 10;
}

 nav{
    height: 150px;
    /* width: 1470px; */
    /* width: 1441px; */
    /* background-color: aqua; */
    color: aliceblue;
    font-family: nb-pro;
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap:1000px;
    padding: 10px 25px;
   
}

#page2-txtcontent  h1{
   text-align: center;
   margin-top: 8%;
   color: aliceblue;
   font-family: re-joy;
   font-size: 400px;
   font-weight: 200;
   align-items: end;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f38;
    border-radius:50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nb-pro;
    font-size: 20px;
    font-weight:500;
    transform: translate(-50%,-50%);
}

#page3{
    height: 100vh;
    width: 100vw;
    background-color: #faf8f3;
    
}

 #nav{
    color: black;
    /* background-color: blue; */
    padding: 10px 80px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-family: nb-pro;
    padding-top: 80px;
   
}
h1{
    font-weight: 100;
}

hr{
    margin-left: 80px;
    margin-right:80px;
}

#page3>.heading {
    padding: 2.8vw;
}
#page3>.heading h1{
    font-size:  4.2vw;
    font-weight: 580;
    font-family: nb-pro;
    line-height: 1.1em;
}
#space {
    margin-left: 8vw;
}


#page4{
    height: 100vh;
    width: 100%;
    
    background-color: rgb(231, 224, 224);
    position: relative;
    padding: 3vw;
}

#page4-top{
     text-align: center;
   
}
#page4-top h4  {

    font-size: 18px;
    font-family: nb-pro;
    font-weight: 500;
    padding-top: 170px;
}
#page4-top h4 span {
    font-size: 12px;
    font-weight: 500;
    font-family: nb-pro;
    background-color: black;
    border: 3px solid black;
    color: #faf8f3;
    padding: 15px,15px;
    border-radius: 8px;
}

#page4-top h2{
    font-size: 67px;
    font-family: nb-pro;
    font-weight:inherit;

}



